.nypl-library-card-banner {
  @extend %clearfix;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  a {
    text-decoration: none;
  }

  // Each individual slide container holds an image and content
  &-slide {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &.center {
      position: relative;
    }

    img {
      &.loaded {
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
        opacity: 1;
      }

      &.notLoaded {
        opacity: 0;
      }
    }
  }

  // Wrapper around the image tag
  &-imageBox {
    @include min-screen($large-screen) {
      display: block;
      height: 250px;
    }

    background-color: #89806f;
    display: none;
    margin: 0;
    padding: 0;

    // Using responsive rules to apply proper position
    & > img {
      -o-object-fit: cover;
      -o-object-position: center 0;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      object-position: center 0;
      width: 100%;
    }
  }

  // Holds tag, title, desc, location, date
  &-content {
    @include min-screen($large-screen) {
      left: 25%;
      margin: 0;
      max-width: 55%;
      padding: 0;
      position: absolute;
      top: 45px;
      width: 100%;
    }

    display: block;
    line-height: normal;
    margin: 0 15px;
    white-space: normal;

    a {
      cursor: default;

      &:focus,
      &:active {
        outline: none;
      }

      @include min-screen($large-screen) {
        background-color: #333;
        display: block;
        padding: 10px;
      }
    }

    &-title {
      // @include Milo-Regular;
      @include min-screen($large-screen) {
        color: #FFF;
      }

      color: #070707;
      font-size: 27px;
      font-weight: 400;
      margin: 15px 0 0;
    }

    &-description {
      @include min-screen($large-screen) {
        color: #FFF;
      }

      color: #070707;
      margin: 10px 0;

      & > p {
        font-family: $sans-serif-stack;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: .03em;
        line-height: 24px;
        margin: 0;
      }
    }

    // Not used for GALC App
    &-tag {
      display: none;
    }

    &-details {
      display: none;
    }

    &-date {
      display: none;
    }

    &-location {
      display: none;
    }
  }
}
