.form-review-section {
  border-top: 1px solid var(--ui-gray-medium);
  margin: 40px 0 0 0;
  padding: 40px 0 0 0;

  .field-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .work_title {
    width: 100%;
    border-top: 1px solid var(--ui-gray-medium);
    padding-top: 20px;
  }

  .field {
    .title {
      font-weight: 400;
      margin-bottom: 10px;
    }

    margin: 15px 0;
    flex: 1 1 100%;

    &.names {
      flex: 1 1 50%;
    }
  }
}
