.react-autosuggest__input {
  input {
    border: none !important;
    border-bottom: 1px solid var(--nypl-colors-ui-gray-medium) !important;
    padding: 0 !important;

    &::placeholder {
      font-style: normal !important;
    }
  }
}
