.react-autosuggest__container {
  display: block !important;
}

.react-autosuggest__input {
  padding: 0 !important;
  border: none !important;
}

.react-autosuggest__suggestions-container--open {
  top: 67px !important;
}
