// Imported from DS
@mixin screenreader-only() {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal;
}

.nypl-library-card-app {
  a {
    text-decoration: underline !important;
  }
}

#nypl-header {
  min-height: 70px;
}

@media screen and (min-width: 1024px) {
  #nypl-header {
    min-height: 230px;
  }
}

#footer {
  box-sizing: initial;
}
