// Print styles for the confirmation page.
// `/library-card/congrats` contains a message for patrons to print the page,
// so it's necessary to make sure that the barcode graphic image displays
// correctly so patrons can scan it.
@media print {
  html,
  body {
    overflow: hidden !important;
    height: auto !important;
  }
  // When the Campaign banner is present, it pushes the content down
  body {
    position: absolute !important;
    top: 0 !important;
  }

  #sitewideAlerts-notification,
  #mainHeader,
  #nypl-footer,
  .routing-links,
  hr,
  option,
  #nypl-header,
  .Campaign,
  .Campaign,
  .edit-button {
    display: none !important;
  }

  #mainContent,
  #mainContent > div,
  .ds-template-content {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  h1,
  h2,
  h3,
  h4,
  img,
  p {
    page-break-after: avoid !important;
    overflow: visible !important;
    height: auto !important;
  }

  // DS external svg
  a svg {
    display: none !important;
  }
  a:visited {
    color: var(--nypl-colors-ui-link-primary) !important;
  }

  // Override Chakra UI height and overflow styles that cause the input fields to be cut off when printed
  .chakra-input__group,
  .chakra-input {
    height: auto !important;
    min-height: 1px !important;
    overflow: visible !important;
  }

  #congratulations > h2 {
    font-size: 1.5rem !important;
    margin: 0 !important;
    outline: none;
  }

  #congratulations > h3 {
    margin: 0.5rem 0 !important;
    outline: none;
  }

  #congratulations > h3 + p {
    margin: 0 !important;
  }

  .congrats-banner {
    margin: 0.9rem 0 !important;
  }

  .get-started-header {
    display: none !important;
  }

  .card-container {
    margin: 0 !important;
    background-color: inherit !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .image-lion {
    width: 50% !important;
    max-width: 400px !important;
  }

  #member-name,
  #issued,
  #issued .content,
  .card-logo {
    font-size: 0.75rem !important;
  }
}
