// Print styles for the confirmation page.
// `/library-card/congrats` contains a message for patrons to print the page,
// so it's necessary to make sure that the barcode graphic image displays
// correctly so patrons can scan it.
@media print {
  @page {
    size: letter portrait;
    margin: 14mm;
  }

  #sitewideAlerts-notification,
  #nypl-header > div > header > div > div,
  #mainHeader,
  #nypl-footer {
    display: none !important;
  }

  #mainContent,
  #mainContent > div,
  .ds-template-content {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #congratulations > div {
    margin: 0.75rem 0 !important;
  }

  #congratulations h2 {
    font-size: 1.5rem !important;
    margin: 0 !important;
  }

  .card-container {
    margin: 0 !important;
    background: none !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .image-lion {
    width: 50% !important;
    max-width: 400px !important;
  }

  #member-name,
  #issued,
  #issued .content {
    font-size: 8pt !important;
  }

  // Collapse spacing after the card graphic
  .card-container + div {
    margin: 0 !important;
  }
}
