// Print styles for the confirmation page.
// `/library-card/congrats` contains a message for patrons to print the page,
// so it's necessary to make sure that the barcode graphic image displays
// correctly so patrons can scan it.
@media print {
  html,
  body {
    overflow: hidden !important;
    height: auto !important;
  }

  #sitewideAlerts-notification,
  #nypl-header > div > header > div > div,
  #mainHeader,
  #nypl-footer,
  .routing-links,
  hr,
  option,
  .edit-button {
    display: none !important;
  }

  #nypl-header {
    width: 1200px !important;
    min-width: 1200px !important;
    max-width: 1200px !important;
    display: none !important;
  }

  #mainContent,
  #mainContent > div,
  .ds-template-content {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  h1,
  h2,
  h3,
  h4,
  img {
    page-break-after: avoid;
  }

  a svg {
    display: none !important;
  }

  // Override Chakra UI height and overflow styles that cause the input fields to be cut off when printed
  .chakra-input__group,
  .chakra-input {
    height: auto !important;
    min-height: 1px !important;
    overflow: visible !important;
  }

  #congratulations h2 {
    font-size: 1.5rem !important;
    margin: 0 !important;
  }

  .card-container {
    margin: 0 !important;
    background-color: inherit !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .card-container + div {
    margin: 0 !important;
  }

  .image-lion {
    width: 50% !important;
    max-width: 400px !important;
  }

  #member-name,
  #issued,
  #issued .content {
    font-size: 0.85rem !important;
  }
}
