node_modules
dist
bower_components
docs
coverage
.DS_Store
npm-debug.log
.bower
.vscode
log/*.log
.eslintcache

# WebStorm IDE
.idea
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.next
.env.local
.env.prod
.env.buid
npm-debug.log*
yarn-debug.log*
yarn-error.log*

certificates

*.log