node_modules
dist
bower_components
docs
coverage
.DS_Store
npm-debug.log
.bower
.vscode
.env
.env.prod
log/*.log

# WebStorm IDE
.idea
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
