option_settings:
  - namespace: aws:elb:listener:443
    option_name: ListenerProtocol
    value: "HTTPS"
  - namespace: aws:elb:listener:443
    option_name: InstancePort
    value: "80"
  - namespace: aws:elb:listener:443
    option_name: InstanceProtol
    value: "HTTP"
  - namespace: aws:elb:listener:80
    option_name: ListenerEnabled
    value: "false"

environments:
  nypl-library-card-app-development:
    option_settings:
      - namespace: aws:elb:listener:443
        option_name: SSLCertificateId
        value: "arn:aws:acm:us-east-1:224280085904:certificate/81061d9f-0a08-4440-bdc0-016e4d40b423"
  nypl-library-card-app-qa:
    option_settings:
      - namespace: aws:elb:listener:443
        option_name: SSLCertificateId
        value: "arn:aws:acm:us-east-1:946183545209:certificate/81061d9f-0a08-4440-bdc0-016e4d40b423"
  nypl-library-card-app-production:
    option_settings:
      - namespace: aws:elb:listener:443
        option_name: SSLCertificateId
        value: "arn:aws:acm:us-east-1:946183545209:certificate/81061d9f-0a08-4440-bdc0-016e4d40b423"