files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/07_falcon_crowdstrike.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd /home/ec2-user
      yum -q list installed falcon-sensor &> /dev/null && isInstalled="yes" || isInstalled="no"
      falconVer=$(/opt/CrowdStrike/falconctl -g --version | awk '{ print $3 }')
      if [ $isInstalled == "no" ] || [ $falconVer != "6.33.13003.0" ]; then
        wget https://s3.amazonaws.com/nypl-rpms/falcon-sensor-6.33.0-13003.el7.x86_64.rpm
        yum -y install /home/ec2-user/falcon-sensor-6.33.0-13003.el7.x86_64.rpm
        /opt/CrowdStrike/falconctl -sf --cid=2F323D2F1EF049D0BCE9A15DDC55D946-19
      fi
    encoding: plain
  "/etc/init/falcon-sensor.conf":
    mode: 644
    owner: root
    group: root
    content: |
        # falcon-sensor - CrowdStrike Falcon Sensor
        #

        description "Falcon Sensor"
        stop on runlevel [!2345]

        respawn
        respawn limit 30 60
        exec /opt/CrowdStrike/falcon-sensor
    encoding: plain