files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/07_falcon_crowdstrike.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd /home/ec2-user
      wget http://yumrepo.aws.nypl.org/nypl-yum/rpm/x86_64/falcon-sensor-3.8.0-3902.amzn1.x86_64.rpm
      yum -y install /home/ec2-user/falcon-sensor-3.8.0-3902.amzn1.x86_64.rpm
    encoding: plain