.container {
  margin-top: 40px;
}

.container a {
  text-decoration: none !important;
}
/*
* This should eventually go into the Design System for the alternate `Link`
* component styling but not until the functionality for that is working.
*/
.previous {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  padding: 8px 30px;
  background-color: var(--nypl-colors-ui-white);
  color: var(--nypl-colors-ui-black) !important;
  border: 1px solid var(--nypl-colors-ui-gray-medium);
  margin-right: 10px;
  text-decoration: none !important;
  border-radius: 2px;
}

.previous:visited {
  color: var(--nypl-colors-ui-black);
}

.button {
  display: inline-block;
  background-color: var(--nypl-colors-ui-link-primary) !important;
  color: var(--nypl-colors-ui-white);
  border: 1px solid var(--nypl-colors-ui-gray-medium);
  margin-right: 10px;
  border-radius: 2px;
  padding: 8px 30px;
}

.next {
  width: 100%;
  padding: 12px 30px;
  display: inline-block;
  background-color: var(--nypl-colors-ui-link-primary) !important;
  color: var(--nypl-colors-ui-white);
  border: 1px solid var(--nypl-colors-ui-gray-medium);
  margin-right: 10px;
  text-decoration: none !important;
  border-radius: 2px;
}

@media only screen and (min-width: 400px) {
  .container {
    display: flex;
  }

  .previous {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }
  .next {
    width: auto;
    padding: 8px 30px;
  }
}
