// Import styles from NYPL React components
@import '~@nypl/dgx-header-component/dist/styles/main';
@import '~@nypl/dgx-react-footer/dist/styles/styles';
// Import NYPL Design Toolkit Library
// Webpack 4 update:
@import '~@nypl/design-toolkit/sass/_toolkit.scss';

// Import Globals
@import 'utils/fonts';
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/animations';

// Universal Page Components
@import 'components/libCardForm';
@import 'components/banner';
@import 'components/confirmation';
@import 'components/errorBox';
@import 'components/accordion';

html {
  @include font-settings;
  // Including NYPL DS gave the footer extra space at the bottom.
  box-sizing: inherit;
}

.nypl-library-card-app {
  .main-content {
    min-height: $pageMinHeight;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;

  .radio-input {
    width: auto;
  }

  .radio-field {
    margin: 10px 0;
    border: 1px solid var(--ui-gray-medium);
    padding: 20px;

    label {
      display: inline-block;
      margin: 0 20px;
    }
  }
}

.required-field {
  color: var(--ui-error);
  font-size: 0.9rem;
  font-weight: 400;
}

.emailSubscription-wrapper {
  line-height: 1 !important;
}

.username-helper-text {
  margin: 10px 0;

  &.available {
    // From DS
    // $nypl-green-dark: #497629
    color: #497629;
  }
  &.unavailable {
    // From DS
    // $nypl-red-regular: #d0343a;
    color: #d0343a;
  }
}
