// Import styles from NYPL React components
@import "~@nypl/dgx-react-footer/dist/styles/styles";

// Import Globals
@import "utils/variables";

// Components
@import "components/autosuggest";
@import "components/globals";

// For printing
@import "components/print";
