/* For reference, these breakpoints are in the design system. The respective
 * CSS variables cannot be used in the @media query so they are defined again.
 */
$breakpoint-small: 320px;
// The next two are not from DS.
$breakpoint-intermediate: 370px;
$breakpoint-intermediate-2: 500px;
$breakpoint-medium: 600px;
$breakpoint-large: 960px;
$breakpoint-xl: 1280px;
