.formSection {
  border-top: 1px solid var(--nypl-colors-ui-gray-medium);
  margin: 40px 0 0 0;
  padding: 40px 0 0 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.field {
  margin: 15px 0;
  flex: 1 1 100%;
}
.multiField {
  margin: 15px 0;
  flex: 1 1 50%;
}
.title {
  font-weight: 400;
  margin-bottom: 10px;
}
.workTitle {
  width: 100%;
  border-top: 1px solid var(--nypl-colors-ui-gray-medium);
  padding-top: 20px;
}

@media only screen and (max-width: 400px) {
  .container {
    display: inline-block;
  }
}
