.multiple_address_list {
  display: flex;
  padding: 0;
  list-style: none;
}

.label {
  align-items: center;
  padding: 30px;
  cursor: pointer;
}

.input {
  margin-right: 20px;
}

.work_address_container {
  border-top: 1px solid var(--ui-gray-medium);
  padding-top: 30px;
}
