name: Scheduled Playwright Tests on QA

on:
  schedule:
    - cron: "0 5 * * 1" # runs every Monday at 12am EST / 1am EDT
  push:
    branches: [main]
  pull_request:

jobs:
  playwright-tests:
    uses: ./.github/workflows/playwright-tests.yml
    secrets: inherit
    with:
      PLAYWRIGHT_BASE_URL: https://qa-www.nypl.org/library-card/new
